<head th:replace="fragments/header :: header" />
<body>
<style>
  .card-group>.card {
    min-width: 20%;
    max-width: 20%;
  }
  a {
    color: #1c1f23;
    text-decoration: auto;
  }
  a:hover {
    color: #1c1f23;
  }
</style>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div class="card-group">
    <div th:each="room : ${rooms}" class="card">
      <a href="#">
        <img src="/img/img.png" class="card-img-top" alt="상품 사진">
        <div class="card-body">
          <h5 th:text="${room.getId()}" class="card-title">Card title</h5>
          <p th:text="${room.getName()}" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </a>
    </div>
  </div>

</body>
<div th:replace="fragments/footer :: footer" />
</html>