<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header" />
<body>
<h1>로그인</h1>
<hr>
<form th:action="@{/member/login}" method="post">
  <input type="hidden"
         th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}" />
  <input type="text" name="email" placeholder="이메일을 입력해주세요.">
  <input type="password" name="password" placeholder="비밀번호를 입력해주세요.">
  <button type="submit">로그인</button>
</form>
</body>
<div th:replace="fragments/footer :: footer" />
</html>