<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  .footer {
    height: auto;
    min-height: 100%;
    padding-bottom: 80px;
  }
  footer {
    height: 80px;
    position: relative;
    transform: translateY(-100%);
  }
  footer>.p-3 {
    padding: 2rem!important;
  }
</style>

<div class="footer" th:fragment="footer">
  <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © PeerShop V1 Copyright
    </div>
    <!-- Copyright -->
  </footer>
</div>